@charset "UTF-8";
/*공통 스타일*/
#map {
  position: relative;
  background: url(/img/mapBg6.png) repeat-x center bottom;
  padding: 100px 0 90px;
}
#map::before, #map::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}
#map::before {
  background-image: url(/img/mapBg4.png);
  right: 0;
  top: 0;
  width: 12vw;
  height: 14vw;
  background-size: contain;
}
#map::after {
  background-image: url(/img/mapBg5.png);
  left: 0;
  bottom: 0;
  width: 14vw;
  height: 67%;
  background-position: left bottom;
  background-size: cover;
}
#map .link {
  color: #B2A569;
}
#map button {
  background-color: transparent;
  border: 0;
  padding: 0;
}
#map .mapLeftS {
  max-width: 352px;
  margin-left: 70px;
}
#map .mapLeftS .mapTitleS {
  position: relative;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}
#map .mapLeftS .mapTitleS::before, #map .mapLeftS .mapTitleS::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 8vw;
  height: 8vw;
}
#map .mapLeftS .mapTitleS::before {
  background-image: url(/img/mapBg3.png);
  top: 2vw;
  left: -10vw;
}
#map .mapLeftS .mapTitleS::after {
  background-image: url(/img/mapBg2.png);
  top: 4vw;
  right: -12vw;
}
#map .mapLeftS .mapCategoryS {
  text-align: center;
  margin-bottom: 80px;
}
#map .mapLeftS .mapCategoryS span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}
#map .mapLeftS .mapInfoS {
  max-width: 340px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#map .mapLeftS .mapInfoS .mapInfoWrapS {
  padding: 20px;
}
#map .mapLeftS .mapInfoS .mapInfoWrapS img {
  border-radius: 10px;
}
#map .mapLeftS .mapInfoS .mapInfoWrapS p {
  position: relative;
  font-size: 24px;
  font-weight: 800;
  margin: 12px 0 16px;
}
#map .mapLeftS .mapInfoS .mapInfoWrapS p::after {
  content: "";
  background: url(/img/EventArrow.svg) no-repeat;
  width: 44px;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#map .mapLeftS .mapInfoS .mapInfoWrapS .mapInfoTextS {
  font-size: 14px;
  min-height: 130px;
}
#map .mapLeftS .mapInfoS .mapInfoWrapS .mapInfoTextS li {
  display: flex;
  margin: 4px 0;
}
#map .mapLeftS .mapInfoS .mapInfoWrapS .mapInfoTextS li i {
  margin-right: 10px;
}
#map .mapLeftS .mapInfoS .mapInfoLocationS {
  padding: 10px 20px;
  border-top: 1px solid #E1E1E1;
}
#map .mapLeftS .mapInfoS .mapInfoLocationS li {
  margin-left: 10px;
}
#map .mapLeftS .mapInfoS .mapInfoLocationS li:first-child i {
  margin-right: 10px;
}
#map .mapRightS {
  position: relative;
  margin: 120px 0 0 224px;
}
#map .mapRightS::before {
  content: "";
  display: block;
  background: url(/img/mapBg1.png) no-repeat;
  background-size: contain;
  width: 8vw;
  height: 8vw;
  position: absolute;
  top: -5.8vw;
  right: -9.5vw;
}
#map .mapRightS .mapTextS {
  position: absolute;
  top: 80px;
  right: -100px;
  z-index: 1;
}
#map .mapRightS .mapTextS button {
  margin: 0 0 10px 4px;
}
#map .mapRightS .mapTextS button:first-child {
  margin-left: 0;
}
#map .mapRightS .mapTextS button i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
#map .mapRightS .mapTextS p {
  font-size: 19px;
  letter-spacing: -2px;
  line-height: 1.4;
}
#map .mapRightS .mapTextS p strong {
  font-weight: 700;
}
#map .mapRightS .mapViewS {
  position: relative;
}
#map .mapRightS .mapViewS .mapCategoryPointS {
  position: absolute;
  width: 100%;
  height: 100%;
}
#map .mapRightS .mapViewS .mapCategoryPointS p {
  position: absolute;
}
#map .mapRightS .mapViewS .mapCategoryPointS p::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.food {
  top: 230px;
  left: 240px;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.food::before {
  background-color: #FF7682;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.cafe {
  top: 340px;
  left: 200px;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.cafe::before {
  background-color: #FF9268;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.activity {
  top: 360px;
  left: 310px;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.activity::before {
  background-color: #A374C8;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.landmark {
  top: 280px;
  left: 320px;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.landmark::before {
  background-color: #8AE89F;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.festival {
  top: 170px;
  left: 280px;
}
#map .mapRightS .mapViewS .mapCategoryPointS p.festival::before {
  background-color: #77C5FF;
}

#popupform {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999999;
}
#popupform .popupWrapS {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  max-width: 540px;
  width: 100%;
  border-radius: 20px;
  padding: 20px 20px 30px;
  transform: translate3d(-50%, -50%, 0);
}
#popupform .popupWrapS .popupHeaderS {
  border-bottom: 1px solid #989797;
  padding: 0 10px 10px 10px;
}
#popupform .popupWrapS .popupHeaderS h3 {
  font-size: 20px;
  font-weight: 700;
}
#popupform .popupWrapS .popupHeaderS .close {
  background: transparent;
  padding: 0;
  border: 0;
}
#popupform .popupWrapS .popupBodyS {
  padding: 10px;
}
#popupform .popupWrapS .popupBodyS ul {
  margin-bottom: 20px;
}
#popupform .popupWrapS .popupBodyS ul li {
  position: relative;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.6;
}
#popupform .popupWrapS .popupBodyS ul li.point {
  font-size: 14px;
  padding-left: 0;
  color: #F34848;
  margin-bottom: 6px;
}
#popupform .popupWrapS .popupBodyS ul li.point::before {
  display: none;
}
#popupform .popupWrapS .popupBodyS ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #000;
  transform: translateY(-50%);
}
#popupform .popupWrapS .popupBodyS div {
  margin-top: 10px;
}
#popupform .popupWrapS .popupBodyS div:first-child {
  margin-top: 0;
}
#popupform .popupWrapS .popupBodyS div label {
  display: block;
  font-weight: 600;
  margin: 0 0 2px 10px;
}
#popupform .popupWrapS .popupBodyS div select, #popupform .popupWrapS .popupBodyS div input, #popupform .popupWrapS .popupBodyS div textarea {
  width: 100%;
  border: 1px solid #989797;
  border-radius: 12px;
  font-size: 14px;
  padding: 6px 10px;
}
#popupform .popupWrapS .popupBodyS div select:focus, #popupform .popupWrapS .popupBodyS div select:focus-visible, #popupform .popupWrapS .popupBodyS div input:focus, #popupform .popupWrapS .popupBodyS div input:focus-visible, #popupform .popupWrapS .popupBodyS div textarea:focus, #popupform .popupWrapS .popupBodyS div textarea:focus-visible {
  border: 1px solid #989797;
  outline: none;
}
#popupform .popupWrapS .popupFooterS {
  padding: 10px;
  padding-bottom: 0;
}
#popupform .popupWrapS .popupFooterS button {
  width: 49%;
  background-color: transparent;
  border: 1px solid #989797;
  border-radius: 10px;
  padding: 6px;
  color: #000;
}
#popupform .popupWrapS .popupFooterS button.confirm {
  background-color: #000;
  color: #fff;
}